body{
	background-color: #FFFFFF;
  	color: black;
  	padding: 40px;
  	font-family: Arial;
  	text-align: center;
}

.espacios{
	width: 40rem;
	height: 2rem;
	margin-bottom:2.5rem;
	margin-top:.5rem;
}

#enviar{
	background-color: #819bf3; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
